<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sameHeader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B5324991EB96E7B002BEA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5324AD1EB96E7B002BEA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5324B81EB96E7B002BEA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
