<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnicodeC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B0736771ED2C59600F6D651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0736881ED2C59700F6D651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0736931ED2C59700F6D651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
