<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hotup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hotupScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>hotupT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>hotupscript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B1FB5601E5E8841000655B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1FB5691E5E8841000655B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1FB5811E5E8AC1000655B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1FB5851E5E8B24000655B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1FB58D1E5E8CCC000655B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
